@charset "utf-8";

.advert{
  width: 100%;
  height: 120px;
  background: url('../images/static/Advertisement.jpg') no-repeat center;
}

.advert-container{
  max-width: 1200px;
  margin: 0 auto;
}

.advert-container img{
  float: right;
  cursor: pointer;
  margin-top: 16px;
  margin-right: 8px;
}

.search-wraper{
  width: 100%;
  background-color: #fff;
}

.search-content{
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}

.search-all{
  box-sizing: border-box;
  padding-left: 186px;
  padding-top: 43px;
  position: relative;
}

.fuli-shelper{
  width: 394px;
  position: fixed;
  border: 1px solid #ddd;
  background-color: #fff;
  /* bottom: -3px; */
  display: none;
  padding: 0 13px;
  box-shadow: 0 10px 10px rgba(213,203,203,.5);
  z-index: 6;
}

.fuli-shelper-words{
  line-height: 38px;
  font-size: 14px;
  color: #999;
}

.fuli-shelper-words span{
  margin-right: 10px;
}

.fuli-shelper-words-color{
  font-size: 12px;
  color: #ea9b58;
}

.goods-list{
  font-size: 14px;
  line-height: 26px;
}

.goods-list li a{
  display: flex;
  justify-content: space-between;
}

.goods-name{
  color: #2b7ab2;
}

.history{
  color: #b7b7b7;
}

.all-delete{
  font-size: 14px;
  color: #666;
  text-align: right;
  line-height: 30px;
  border-top: 1px solid #d1d1d1;
  box-sizing: border-box;
}

.search-content-left{
  height: 115px;
  background: #fff;
  display: flex;
  align-items: center;
}

.search-content-left img{
  width: 100%;
}

.search-content-center{
  height: 115px;
}

.search-content-right{
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-input{
  width: 340px;
  height: 42px;
  border: 1px solid #e98930;
  box-sizing: border-box;
  float: left;
}

.search-input input{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 18px;
  box-sizing: border-box;
}

.search-btn{
  width: 54px;
  height: 42px;
  background-color: #e98930;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-nav{
  /* width: 394px; */
  height: 36px;
  line-height: 36px;
  padding-left: 18px;
}

.small-nav li{
  width: 64px;
  float: left;
  font-size: 14px;
}

.small-nav li a {
  color: #999;
}

.small-nav > li > a:hover,
.small-nav > li > a:focus {
  color: #e98930
}

.search-cart{
  padding-top: 41px;
  box-sizing: border-box;
  position: relative;
}

.search-select-small{
  width: 125px;
  height: 17px;
  background-color: #fff;
  z-index: 889;
  position: absolute;
  bottom: -14px;
  box-sizing: border-box;
  display: none;
}

.search-cart-select{
  width: 290px;
  height: 273px;
  background-color: #fff;
  position: absolute;
  right: 75px;
  bottom: 10px;
  top: 96px;
  z-index: 888;
  box-sizing: border-box;
  overflow-y: auto;
  display: none;
}

.search-cart-select-head{
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 14px;
  color: #333;
  padding-left: 10px;
  box-sizing: border-box;
}

.search-cart-goods-all{
  width: 100%;
  padding-left: 5px;
  box-sizing: border-box;
}

.search-cart-goods-item{
  width: 100%;
  height: 63px;
  border-bottom: 1px dotted #d7d7d7;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.goods-img{
  width: 54px;
  height: 54px;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.goods-account{
  width: 130px;
  font-size: 12px;
  line-height: 19px;
  margin-left: 3px;
}

.goods-account a{
  color: #333;
}

.goods-account a:hover{
  color: #ff5823;
}

.cart-price-del{
  height: 57px;
  font-size: 12px;
  color: #343434;
}

.cart-delete{
  text-align: right;
}

.cart-delete:hover{
  color: #ff5823;
}

.cart-price{
  font-weight: bold;
  line-height: 20px;
}

.search-cart-position{
  position: relative;
}

.search-cart-all-price{
  width: 273px;
  height: 36px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 370px;
  color: #454545;
  font-size: 14px;
  padding: 0 5px;
  box-sizing: border-box;
}

.go-cart{
  width: 67px;
  height: 23px;
  background-color: #e88831;
  border: 1px solid #cd6f18;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 21px;
}

.search-not-cart{
  width: 290px;
  height: 77px;
  background-color: #fff;
  position: absolute;
  right: 75px;
  bottom: 10px;
  top: 96px;
  z-index: 888;
  color: #999;
  box-sizing: border-box;
  display: none;
}

.search-not-cart-img{
  width: 100%;
  height: 77px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-cart-bg{
  width: 125px;
  height: 42px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.select-bg{
  background-color: #fff;
  border-color: #e98a30;
}

.select-border{
  border: 1px solid #e98a30;
  display: block;
}

.select-border2{
  border-right: 1px solid #e98a30;
  border-left: 1px solid #e98a30;
  display: block;
}

.search-cart-bg img{
  margin-left: 17px;
}

.search-cart-bg span{
  margin-left: 12px;
  color: #e98930;
  font-size: 14px;
}

.cart-count{
  width: 15px;
  height: 15px;
  background-color: #ff3f40;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: -7px;
}

.ification-wraper{
  width: 100%;
  height: 32px;
  background-color: #e98930;
}

.fuli-w{
  width: 1200px;
  margin: 0 auto;
}

.classification{
  height: 30px;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classification img{
  margin-right: 12px;
}

.classification-nav{
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding-left: 18px;
}

.classification-nav li{
  width: 89px;
  float: left;
  font-size: 16px;
  text-align: center;
}

.classification-nav li a {
  color: #fff;
}

.classification-nav > li > a:hover,
.classification-nav > li > a:focus {
  color: #ffe6cf;
}

.fuli-toolbar{
  width: 295px;
  height: 100%;
  position: fixed;
  z-index: 997;
  right: -289px;
  top: 0;
  display: flex;
  transition: right .5s;
}

.fuli-toolbar-tabs{
  position: absolute;
  top: 50%;
  left: -35px;
  width: 35px;
  margin-top: 50px;
}

.fuli-toolbar-tabs-selected{
  background-color: #e78931 !important;
}

.fuli-toolbar-tab{
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 2px;
  cursor: pointer;
  background-color: #7a6e6e;
  border-radius: 3px 0 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-toolbar-tab2{
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 2px;
  cursor: pointer;
  background-color: #7a6e6e;
  border-radius: 3px 0 0 3px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  top: 150px;
  display: none;
}

.fuli-toolbar-tab2 img{
  position: absolute;
  top: 13px;
  left: 10px;
}

.fuli-toolbar-tab img{
  z-index: 2;
}

.fuli-toolbar-text{
  width: 62px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  font-family: 微软雅黑;
  font-size: 14px;
  position: absolute;
  z-index: -1;
  left: 35px;
  top: 0;
  background-color: #7a6e6e;
  border-radius: 3px 0 0 3px;
  transition: left .3s ease-in-out .1s;
}

.toolbar-text-left{
  left: -60px;
  background-color: #e78931;
}

.toolbar-text-bg{
  background-color: #e78931;
}

.fuli-toolbar-panels{
  width: 264px;
  height: 100%;
  background-color: #e9e9e9;
  border-left: 1px solid #786c6c;
  overflow-y: auto;
  position: absolute;
}

.fuli-toolbar-panels-head{
  width: 100%;
  height: 39px;
  background-color: #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

.fuli-toolbar-panels-goods{
  width: 100%;
  height: 88px;
  background-color: #fff;
  padding: 17px 10px;
  box-sizing: border-box;
  display: flex;
}

.toolbar-panels-goods-left{
  width: 54px;
  height: 54px;
  border: 1px solid #eee;
}

.toolbar-panels-goods-right{
  width: 187px;
  height: 54px;
  padding-left: 3px;
  box-sizing: border-box;
}

.toolbar-panels-goods-right p{
  font-size: 12px;
  line-height: 18px;
}

.toolbar-panels-goods-right p a{
  color: #333;
}

.toolbar-panels-goods-right p a:hover{
  color: #ff5823;
}

.priceAndDel{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.panels-goods-price{
  color: #ff5821;
}

.panels-goods-del{
  color: #59acfc;
  display: none;
}

.toolbar-panels-head-left{
  display: flex;
  align-items: center;
  color: #666;
  font-size: 14px;
}

/* .fuli-floor{
  height: 68px;
} */

.fuli-floor-title{
  font-size: 24px;
  color: #333;
  line-height: 68px;
}

.fuli-floor-nav{
  margin-top: 23px;
  line-height: 30px;
}

.fuli-floor-nav li{
  float: left;
  padding-left: 21px;
  float: left;
  color: #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fuli-floor-nav li a{
  color: #999;
}

.fuli-floor-nav > li > a:hover,
.fuli-floor-nav > li > a:focus {
  color: #ff3f40
}

.fuli-floor-info-left{
  width: 396px;
  background-color: #fff;
  margin-right: 17px;
  padding: 20px 0;
  box-sizing: border-box;
  float: left;
}

.fuli-floor-wrapper{
  margin: 0 0 0 20px;
}

.fuli-floor-watch{
  float: left;
  display: block;
  width: 170px;
  height: 180px;
  margin: 0 10px 21px 0;
}

.fuli-floor-img{
  width: 100%;
  height: 100%;
  transition: opacity ease .2s;
}

.fuli-floor-img:hover{
  opacity: 0.9;
}

.floor-small-wrapper{
  float: left;
  width: 354px;
  border: solid #ebeaea;
  border-width: 0 1px 1px 0;
  overflow: hidden;
}

.floor-small{
  float: left;
  width: 117px;
  height: 79px;
  text-align: center;
  line-height: 79px;
  font-size: 0;
  overflow: hidden;
  border: solid #ebeaea;
  border-width: 1px 0 0 1px;
}

.floor-small-img{
  background: #fff;
  width: 111px;
  margin: auto;
  transition: opacity ease .2s;
}

.floor-small-img img:hover{
  opacity: 0.9;
}

.lazyimg{
  opacity: 1;
}

.floor-small img{
  width: 100%;
  height: auto;
}

.fuli-floor-info-right{
  width: 787px;
  background-color: #fff;
  border-right: solid #efefef;
  border-width: 1px 0 0 1px;
  float: left;
}

.fuli-floor-wares{
  width: 25%;
  height: 241px;
  border: solid #efefef;
  border-width: 0 1px 1px 0;
  float: left;
  box-sizing: border-box;
}

#fullSlide{
  display: none;
}

#adsense{
  display: none;
}

.adsense-slide{
  width: 747px;
  height: 600px;
  float: left;
}

.adsense-planting{
  width: 100%;
  height: 389px;
  background-color: #999;
}

.adsense-advert{
  width: 100%;
  height: 192px;
  margin-top: 19px;
}

.adsense-advert-left{
  width: 49%;
  height: 192px;
  background-color: #e98932;
  margin-right: 14px;
  float: left;
}

.adsense-advert-right{
  width: 49%;
  height: 192px;
  background-color: aqua;
  float: left;
}

.adsense-core-item{
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #ddd;
}

.adsense-core-item:last-child{
  border: none;
}

#personal{
  display: none;
}

.personal-menu,
.adsense-menu{
  width: 204px;
  height: 600px;
  background-color: #fff;
  box-shadow: 0 3px 3px 3px rgba(231,231,231,.5);
  margin-right: 22px;
  float: left;
  position: relative;
}

.adsense-menu ul li,
.personal-menu ul li{
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 2px;
}

.adsense-list-select{
  width: 1000px;
  height: 600px;
  background: #fff;
  position: absolute;
  left: 205px;
  top: 0;
  display: none;
  z-index: 1000;
}

.adsense-menu ul li a,
.personal-menu ul li a{
  color: #626262;
}

.adsense-hover{
  background-color: #ffe6cf;
}

.adsense-a-hover{
  color: #e98930 !important;
}

.personal-slide{
  width: 747px;
  height: 600px;
  float: left;
}

.personal-core,
.adsense-core{
  width: 204px;
  height: 600px;
  background-color: #fff;
  margin-left: 22px;
  float: left;
}

.personal-core-head{
  width: 100%;
  height: 122px;
  padding-top: 37px;
  box-sizing: border-box;
}

.personal-core-head p{
  line-height: 24px;
  color: #999;
  font-size: 14px;
  text-align: center;
}

.fuli-user-login{
  width: 160px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  background-color: #f1a35b;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
}

.fuli-tenants-login{
  width: 160px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #e98930;
  background-color: #ffe4cb;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #e98930;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
}

.personal-service-word{
  padding-left: 10px;
  box-sizing: border-box;
}

.personal-service{
  width: 100%;
  height: 47px;
  margin-top: 31px;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.personal-service-tit{
  line-height: 24px;
  color: #4a4a4a;
  font-size: 14px;
}

.personal-service-text{
  line-height: 24px;
  color: #999;
  font-size: 12px;
}

.sponsor{
  height: 338px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 3px 3px rgba(231,231,231,.5);
  margin-top: 30px;
  padding: 36px 0;
  box-sizing: border-box;
}

.sponsor-s{
  margin-left: 16px;
}

.sponsor-item{
  width: 284px;
  height: 140px;
  border: 1px solid #efefef;
  /* border-width: 0 1px 1px 0; */
  box-sizing: border-box;
  margin-right: 10px;
  float: left;
}

.sponsor-item img{
  width: 100%;
}

.sponsor-item:last-child{
  margin-right: 0;
}

.sponsor-small{
  margin-left: 8px;
  margin-top: 16px;
}

.sponsor-small-item{
  width: 169px;
  height: 107px;
  border: solid #f7f7f7;
  border-width: 1px 1px 1px 0;
  float: left;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-small-item:last-child{
  border-right: 0;
}

.fuli-box{
  height: 451px;
  margin-top: 19px;
}

.fuli-box-item{
  width: 33%;
  height: 451px;
  background-color: #fff;
  margin-right: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 3px 3px rgba(231,231,231,.5);
  float: left;
  box-sizing: border-box;
}

.fuli-box-item-2{
  width: 33%;
  height: 451px;
  background-color: #fff;
  margin-right: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 3px 3px rgba(231,231,231,.5);
  float: left;
  box-sizing: border-box;
}

.fuli-box-item-3{
  width: 33%;
  height: 451px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 3px 3px rgba(231,231,231,.5);
  float: left;
  box-sizing: border-box;
}

.fuli-box-head{
  height: 60px;
  padding: 0 18px;
  font-size: 0;
  line-height: 0;
}

.fuli-tactic-cover{
  width: 365px;
  height: 370px;
  margin: 0 auto;
  box-sizing: border-box;
}

.fuli-tactic-lk{
  display: block;
}

.tactic-lk-img{
  width: 100%;
  height: 100%;
}

.fuli-box-hk{
  display: inline-block;
  position: relative;
  height: 40px;
  margin: 8px 0 0 0;
}

.fuli-box-tit{
  float: left;
  font-weight: normal;
  font-size: 22px;
  color: #222;
  line-height: 44px;
}

.fuli-box-arrow{
  background-position: 0 0;
  float: left;
  position: relative;
  width: 23px;
  height: 23px;
  top: 12px;
  left: 4px;
  background-image: url('../images/static/arrow.png')
}

.fuli-box-subtit{
  float: left;
  font-size: 14px;
  color: #999;
  height: 22px;
  line-height: 22px;
  margin: 12px 0 0 10px;
}

.fuli-sort-wrapper{
  /* margin: 0 0 0 20px; */
}

.fuli-sort-wrapper-2{
  margin: 0 0 0 10px;
}

.fuli-sort-large{
  display: block;
  width: 100%;
  height: 196px;
  border-bottom: 1px solid #ddd;
}

.fuli-sort-large-2{
  width: 374px;
  height: 195px;
  display: block;
  border-bottom: 1px solid #d6dfe4;
}

.fuli-sort-large-2:last-child{
  border-bottom: none;
}

.fuli-sort-img{
  width: 100%;
  height: 100%;
  transition: opacity ease 0.2s;
}

.fuli-sort-k{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-sort-m{
  margin-left: 30px;
}

.fuli-sort-img:hover{
  opacity: 0.8;
}

.fuli-sort-img2{
  width: 100%;
  height: 100%;
  transition: opacity ease 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-sort-img2:hover{
  opacity: 0.8;
}

.fuli-sort-middle{
  float: left;
  display: block;
  width: 193px;
  height: 192px;
  border-right: 1px solid #ddd;
}

.fuli-sort-middle:last-child{
  border-right: none;
}

.fuli-new-floor{
  width: 100%;
  height: 810px;
  background-color: #fff;
  margin-top: 37px;
}

.fuli-new-wrapper{
  width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
  box-sizing: border-box;
}

.fuli-brain{
  width: 100%;
  height: 90px;
  position: relative;
}

.fuli-vertical{
  width: 10px;
  height: 32px;
  background-color: #b29e77;
  position: absolute;
  top: 32%;
  float: left;
}

.fuli-box-tit2{
  float: left;
  font-weight: normal;
  font-size: 22px;
  color: #222;
  line-height: 90px;
  margin-left: 20px;
}

.fuli-floor-list{
  width: 240px;
  line-height: 90px;
  float: right;
}

.fuli-floor-list li{
  width: 60px;
  text-align: right;
  float: left;
}

.fuli-floor-list li a{
  color: #333;
  font-size: 16px;
}

.fuli-floor-image{
  width: 233px;
  height: 644px;
  float: left;
}

.fuli-floor-pictures{
  width: 100%;
  height: 100%;
}

.fuli-floor-goods{
  width: 783px;
  height: 644px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
  margin: 0 5px;
  padding: 20px 0 0 20px;
  box-sizing: border-box;
  float: left;
}

.floor-goods-wrapper{
  width: 100%;
}

.floor-goods-item{
  width: 32%;
  height: 299px;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
}

.floor-goods-item:nth-of-type(-n+3){
  margin-top: 0;
}

.floor-goods-item:nth-of-type(3n){
  margin-right: 0;
}

.floor-goods-large{
  width: 236px;
  height: 241px;
  background-color: #f4f4f4;
  display: block;
}

.floor-goods-image{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floor-goods-name{
  width: 236px;
  line-height: 27px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.floor-goods-name a{
  color: #333;
}

.floor-goods-price{
  width: 236px;
  line-height: 23px;
  color: #f32d2d;
  font-size: 14px;
  text-align: center;
}

.fuli-floor-brand{
  width: 168px;
  height: 644px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
  box-sizing: border-box;
  float: left;
}

.floor-brand-head{
  height: 76px;
  padding: 0 11px;
  text-align: center;
  line-height: 76px;
  font-size: 18px;
  color: #666;
}

.floor-brand-wrapper{
  margin: 0 0 0 11px;
}

.floor-brand-item{
  width: 147px;
  height: 67px;
  border: 1px solid #ededed;
  box-sizing: border-box;
  margin-bottom: 27px;
  display: block;
}

.floor-brand-img{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  transition: all 0.5s;
  -moz-transition: all 0.5s;	/* Firefox 4 */
  -webkit-transition: all 0.5s;	/* Safari 和 Chrome */
  -o-transition: all 0.5s;	/* Opera */;
}

.fuli-new-floor-2{
  width: 100%;
  height: 810px;
  background-color: #fffcf4;
}

.fuli-new-floor-3{
  width: 100%;
  height: 810px;
  background-color: #fffbfa;
}

.fuli-clearance{
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #f4f4f4;
  background-color: #fff;
}

.J-global-toolbar div a {
	margin: 0px;
	padding: 0px;
	font: 12px/150% Arial,Verdana,"宋体";
	color: #666;
}
.toolbar-wrap {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9990;
  width: 35px;
  height: 100%;
    
}
.toolbar-wrap a {
  text-decoration: none;
}
.toolbar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39px;
  height: 100%;
  border-right: 6px solid #7A6E6E;
}
.toolbar-panels {
  position: absolute;
  left: 35px;
  top: 0px;
  width: 275px;
  height: 100%;
  z-index: 2;
  background: #ECEAEA none repeat scroll 0% 0%;
}
.toolbar-panel {
  width: 270px;
  height: 100%;
  position: absolute;
  background: #ECEAEA none repeat scroll 0% 0%;
}
.tbar-panel-header {
  position: relative;
  width: 270px;
  height: 40px;
  line-height: 40px;
  background: #ECEAEA none repeat scroll 0% 0%;
  font-family: "microsoft yahei";
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

.tbar-panel-header .title {
  display: inline-block;
  height: 40px;
  color: #5E5050;
  font: 16px/40px "微软雅黑";
}
.tbar-panel-cart .tbar-panel-header i {
  width: 20px;
  height: 20px;
  margin-top: 11px;
}
.tbar-panel-header i {
  margin-right: 4px;
  margin-left: 10px;
  vertical-align: top;
}
.tbar-panel-header i{
  display: inline-block;
  font-style: normal;
  background-image: url("../images/static/writeSiedCart.png");
  background-repeat: no-repeat;
    
}
.tbar-panel-header .title em {
  display: inline-block;
  vertical-align: top;
}
.tbar-panel-header .close-panel {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px;
  top: 12px;
  cursor: pointer;
  transition: transform 0.2s ease-out 0s;
  background-image: url("../images/static/closeSideCart.png");
}
.tbar-panel-main {
  position: relative;
  margin: 0px;
	padding: 0px;
	font: 12px/150% Arial,Verdana,"宋体";
	color: #666;
}
.tbar-tipbox{
	display: block;
}
.tbar-panel-content {
  width: 270px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.tbar-tipbox .tip-inner {
  padding: 6px 5px;
  border: 1px solid #EDD28B;
  background: #FFFDEE none repeat scroll 0% 0%;
  text-align: center;
}
.tbar-tipbox .tip-text {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  color: #333;
}
.tbar-tipbox .tip-btn {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
  margin-left: 5px;
  color: #FFF;
  vertical-align: middle;
  background: #e98932 none repeat scroll 0% 0%;
}

.tbar-panel-cart .tbar-panel-footer {
  height: 50px;
  background-color: #ECEAEA;
  margin: 0px;
	padding: 0px;
}
.tbar-checkout {
  height: 40px;
  padding: 5px 110px 5px 5px;
  position: relative;
}

.tbar-checkout .jtc-number strong {
  font-family: verdana;
  color: #e98932;
}
.tbar-checkout .jtc-number {
  line-height: 20px;
  font: 12px/150% Arial,Verdana,"宋体";
	color: #666;
}
.tbar-checkout .jtc-sum {
  line-height: 20px;
  font: 12px/150% Arial,Verdana,"宋体";
	color: #666;
}
.tbar-checkout .jtc-sum strong {
  font-family: verdana;
  color: #e98932;
}
.tbar-checkout .jtc-btn {
  position: absolute;
  right: 5px;
  top: 7px;
  width: 110px;
  height: 35px;
  font: 16px/35px "微软雅黑";
  text-align: center;
  background: #e98932 none repeat scroll 0% 0%;
  color: #FFF;
}
.tbar-cart-list{
  width: 100%;
  margin: 0px;
	padding: 0px;
	font: 12px/150% Arial,Verdana,"宋体";
	color: #666;
}
.tbar-cart-item {
  padding: 0px 5px;
  margin-bottom: 10px;
  background: #FFF none repeat scroll 0% 0%;
}
.jtc-item-promo {
  padding: 12px 0px 12px 57px;
  border-bottom: 1px dashed #E1E1E1;
}
.jtc-item-promo .promo-tag {
  position: relative;
  float: left;
  width: 40px;
  height: 20px;
  margin-top: -1px;
  margin-left: -57px;
  margin-right: 17px;
  text-align: center;
  font: 12px/20px "宋体";
  color: #FFF;
  background-color: #F58813;
}
.jtc-item-promo .promo-text {
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 12px/18px verdana;
}
.jtc-item-goods {
  padding: 10px 0px;
  position: relative;
  overflow: hidden;
}
.jtc-item-goods .p-img {
  float: left;
  width: 56px;
  height: 56px;
  border: 1px solid #DDD;
  padding: 0px;
  margin-right: 5px;
}
.jtc-item-goods .p-img img {
  width: 54px;
  height: 54px;
}
img {
  border: 0px none;
  vertical-align: middle;
}
.jtc-item-goods .p-name {
  height: 38px;
  line-height: 16px;
  margin-bottom: 4px;
  overflow: hidden;
}
.jtc-item-goods .p-name a {
  color: #333;
}
.jtc-item-goods .p-price {
  height: 16px;
  padding-right: 65px;
  overflow: hidden;
  font: 12px/16px verdana;
  color: #666;
}
.jtc-item-goods .p-price strong {
  color: #e98932;
  font-weight: normal;
}
.jtc-item-goods .p-del {
  position: absolute;
  right: 10px;
  top: 46px;
  width: 35px;
  height: 25px;
  line-height: 25px;
  color: #005AA0;
  text-align: right;
  display: none;
}
.tbar-panel-history div{
  padding: 0px;
}
.jt-history-wrap {
  width: 235px;
  margin: 0px auto;
}
.tbar-panel-history ul {
  overflow: hidden;
  margin-right: -15px;
  margin-top:0px;
  list-style: outside none none;
  padding: 0px;
}
.tbar-panel-history .tbar-panel-header i {
  width: 20px;
  height: 17px;
  margin-top: 11px;
  background-position: 0px -100px;
}

.tbar-panel-follow .tbar-panel-header i {
  width: 20px;
  height: 17px;
  margin-top: 11px;
  background-position: 0px -50px;
}
.tbar-panel-history .jth-item {
  float: left;
  position: relative;
  width: 118px;
  height: 125px;
  margin-right: 5px;
  background: #FFF none repeat scroll 0% 0%;
  margin-bottom: 5px;
}
.tbar-panel-history .jth-item .img-wrap {
  display: block;
  width: 118px;
  height: 105px;
  text-align: center;
}

.tbar-panel-history .jth-item .add-cart-button {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  display: none;
  position: absolute;
  width: 118px;
  bottom: 25px;
  left: 5px;
  z-index: 3;
  color: #FFF;
  background: rgba(28, 25, 28, 0.8) none repeat scroll 0% 0%;
}
.tbar-panel-history .jth-item .price {
  width: 118px;
  text-align: center;
  display: inline-block;
  color: #e98932;
}
.tbar-panel-history .history-bottom-more {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-family: "宋体";
  color: #666;
}
/*-----  */


.toolbar-header {
  position: absolute;
  top: 0px;
  right: -6px;
}
.toolbar-tabs {
  position: absolute;
  top: 50%;
  left: 0;
  width: 35px;
  margin-top: -61px;
}
.toolbar-tab {
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 1px;
  cursor: pointer;
  background-color: #7A6E6E;
  border-radius: 3px 0px 0px 3px;
  font: 12px/150% Arial,Verdana,"宋体";
	color: #666;
	display: inline-block;
	background-image: url("../images/static/icons.png");
	background-repeat: no-repeat;
}
.tbar-tab-msg{
  background-position: -11px 0;
}

.tbar-tab-cart{
  background-position: -11px -37px;
}
.tbar-tab-follow{
  background-position: -11px -110px;
}
.tbar-tab-history{
  background-position: -11px -72px;
}
.tbar-tab-back{
  background-position: -10px -145px;
}
.tab-ico {
  width: 34px;
  height: 35px;
  margin-left: 1px;
  position: relative;
  z-index: 2;
  background-color: #7A6E6E;
}
.tab-text {
  width: 62px;
  height: 35px;
  line-height: 35px;
  color: #FFF;
  text-align: center;
  font-family: "微软雅黑";
  position: absolute;
  z-index: 1;
  left: 35px;
  top: 0px;
  background-color: #7A6E6E;
  border-radius: 3px 0px 0px 3px;
  transition: left 0.3s ease-in-out 0.1s;
  font-style: normal;
  margin: 0px;
	padding: 0px;
	cursor: pointer;
	
}
.tab-sub {
  position: absolute;
  z-index: 3;
  right: 2px;
  top: -5px;
  height: 15px;
  padding: 1px 2px;
  border: 1px solid #B61D1D;
  overflow: hidden;
  color: #FFF;
  font: 11px/11px verdana;
  text-align: center;
  min-width: 11px;
  border-radius: 10px;
  background-color: #CC6060;
  background-image: linear-gradient(to bottom, #CC6060 0px, #B61D1D 100%);
}
.hide{
	display:none;;
}
.toolbar-footer {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  margin: 0px;
	padding: 0px;
	font: 12px/150% Arial,Verdana,"宋体";
	color: #666;
}

.tbar-tab-top {
  background-position: -11px -175px;
}
.footer-tab-text {
  width: 50px;
  height: 35px;
  line-height: 35px;
  color: #FFF;
  text-align: center;
  font-family: "微软雅黑";
  position: absolute;
  z-index: 1;
  left: 35px;
  top: 0px;
  background-color: #7A6E6E;
  border-radius: 3px 0px 0px 3px;
  transition: left 0.3s ease-in-out 0.1s;
  font-style: normal;
  margin: 0px;
	padding: 0px;
	cursor: pointer;
}

.tbar-tab-hover {
  left: -60px;
  background-color: #e98932;
}
.tbar-tab-footer-hover {
	left: -48px;
  background-color: #e98932;
}
.tbar-tab-selected {
  background-color: #e98932;
}
.tbar-tab-selected .tab-sub{
  color: #e98932;
	background-color: #FFF;
	background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
}
.tbar-tab-click-selected{
	 background-color: #e98932;
}
.tbar-tab-click-selected .tab-sub{
  color: #e98932;
	background-color: #FFF;
	background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
}
.survey-tab-ico {
    display: none;
}
.survey-tab-text {
  left: 0px;
  width: 35px;
  height: 30px;
  padding: 2px 0px 3px;
  line-height: 15px;
  background: #e98932 none repeat scroll 0% 0%;
  color: #FFF;
	text-align: center;
	font-family: "微软雅黑";
	position: absolute;
	z-index: 1;
	top: 0px;
	border-radius: 3px 0px 0px 3px;
	transition: left 0.3s ease-in-out 0.1s;
	font-style: normal;
	margin: 0px;
	cursor: pointer;
}
.toolbar-open  {
  right: 270px;
}

.J-close:hover{
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
}
.tbar-panel-history .jth-item .add-cart-button:hover{
	background: #fe4600;
}
