@charset "utf-8";

.advert{
  width: 100%;
  height: 120px;
  background: url('../images/static/Advertisement.jpg') no-repeat center;
}

.advert-container{
  max-width: 1200px;
  margin: 0 auto;
}

.advert-container img{
  float: right;
  cursor: pointer;
  margin-top: 16px;
  margin-right: 8px;
}

.search-wraper{
  width: 100%;
  background-color: #fff;
}

.search-content{
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}

.search-all{
  box-sizing: border-box;
  padding-left: 186px;
  padding-top: 43px;
  position: relative;
}

.fuli-shelper{
  width: 390px;
  position: absolute;
  border: 1px solid #ddd;
  background-color: #fff;
  bottom: 13px;
  display: none;
}

.search-content-left{
  height: 115px;
  background: #fff;
  display: flex;
  align-items: center;
}

.search-content-left img{
  width: 100%;
}

.search-content-center{
  height: 115px;
}

.search-content-right{
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-input{
  width: 340px;
  height: 42px;
  border: 1px solid #e98930;
  box-sizing: border-box;
  float: left;
}

.search-input input{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 18px;
  box-sizing: border-box;
}

.search-btn{
  width: 54px;
  height: 42px;
  background-color: #e98930;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-nav{
  width: 394px;
  height: 36px;
  line-height: 36px;
  padding-left: 18px;
}

.small-nav li{
  width: 64px;
  float: left;
  font-size: 14px;
}

.small-nav li a {
  color: #999;
}

.small-nav > li > a:hover,
.small-nav > li > a:focus {
  color: #e98930
}

.search-cart{
  padding-top: 41px;
  box-sizing: border-box;
  position: relative;
}

.search-select-small{
  width: 125px;
  height: 17px;
  background-color: #fff;
  z-index: 889;
  position: absolute;
  bottom: -14px;
  box-sizing: border-box;
  display: none;
}

.search-cart-select{
  width: 290px;
  height: 273px;
  background-color: #fff;
  position: absolute;
  right: 75px;
  bottom: 10px;
  top: 96px;
  z-index: 888;
  box-sizing: border-box;
  display: none;
}

.search-cart-bg{
  width: 125px;
  height: 42px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.select-bg{
  background-color: #fff;
}

.select-border{
  border: 1px solid #ddd;
  display: block;
}

.select-border2{
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  display: block;
}

.search-cart-bg img{
  margin-left: 17px;
}

.search-cart-bg span{
  margin-left: 12px;
  color: #e98930;
  font-size: 14px;
}

.cart-count{
  width: 15px;
  height: 15px;
  background-color: #ff3f40;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: -7px;
}

.ification-wraper{
  width: 100%;
  height: 32px;
  background-color: #e98930;
}

.fuli-w{
  width: 1200px;
  margin: 0 auto;
}

.classification{
  height: 30px;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classification img{
  margin-right: 12px;
}

.classification-nav{
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding-left: 18px;
}

.classification-nav li{
  width: 89px;
  float: left;
  font-size: 16px;
  text-align: center;
}

.classification-nav li a {
  color: #fff;
}

.classification-nav > li > a:hover,
.classification-nav > li > a:focus {
  color: #ffe6cf;
}

.fuli-toolbar{
  width: 295px;
  height: 100%;
  position: fixed;
  z-index: 997;
  right: -289px;
  top: 0;
  display: flex;
  transition: right .5s;
}

.fuli-toolbar-tabs{
  position: absolute;
  top: 50%;
  left: -35px;
  width: 35px;
  margin-top: 50px;
}

.fuli-toolbar-tabs-selected{
  background-color: #c81623 !important;
}

.fuli-toolbar-tab{
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 2px;
  cursor: pointer;
  background-color: #7a6e6e;
  border-radius: 3px 0 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-toolbar-tab2{
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 2px;
  cursor: pointer;
  background-color: #7a6e6e;
  border-radius: 3px 0 0 3px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  top: 150px;
  display: none;
}

.fuli-toolbar-tab2 img{
  position: absolute;
  top: 13px;
  left: 10px;
}

.fuli-toolbar-tab img{
  z-index: 2;
}

.fuli-toolbar-text{
  width: 62px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  font-family: 微软雅黑;
  font-size: 14px;
  position: absolute;
  z-index: -1;
  left: 35px;
  top: 0;
  background-color: #7a6e6e;
  border-radius: 3px 0 0 3px;
  transition: left .3s ease-in-out .1s;
}

.toolbar-text-left{
  left: -60px;
  background-color: #e23535;
}

.toolbar-text-bg{
  background-color: #e23535;
}

.fuli-toolbar-panels{
  width: 264px;
  height: 100%;
  background-color: #fff;
  border-left: 6px solid #7a6e6e;
  z-index: 2;
}

/* .fuli-floor{
  height: 68px;
} */

.fuli-floor-title{
  font-size: 24px;
  color: #333;
  line-height: 68px;
}

.fuli-floor-nav{
  margin-top: 23px;
  line-height: 30px;
}

.fuli-floor-nav li{
  float: left;
  padding-left: 21px;
  float: left;
  color: #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fuli-floor-nav li a{
  color: #999;
}

.fuli-floor-nav > li > a:hover,
.fuli-floor-nav > li > a:focus {
  color: #ff3f40
}

.fuli-floor-info-left{
  width: 396px;
  background-color: #fff;
  margin-right: 17px;
  padding: 20px 0;
  box-sizing: border-box;
  float: left;
}

.fuli-floor-wrapper{
  margin: 0 0 0 20px;
}

.fuli-floor-watch{
  float: left;
  display: block;
  width: 170px;
  height: 180px;
  margin: 0 10px 21px 0;
}

.fuli-floor-img{
  width: 100%;
  height: 100%;
  transition: opacity ease .2s;
}

.fuli-floor-img:hover{
  opacity: 0.9;
}

.floor-small-wrapper{
  float: left;
  width: 354px;
  border: solid #ebeaea;
  border-width: 0 1px 1px 0;
  overflow: hidden;
}

.floor-small{
  float: left;
  width: 117px;
  height: 79px;
  text-align: center;
  line-height: 79px;
  font-size: 0;
  overflow: hidden;
  border: solid #ebeaea;
  border-width: 1px 0 0 1px;
}

.floor-small-img{
  background: #fff;
  width: 111px;
  margin: auto;
  transition: opacity ease .2s;
}

.floor-small-img img:hover{
  opacity: 0.9;
}

.lazyimg{
  opacity: 1;
}

.floor-small img{
  width: 100%;
  height: auto;
}

.fuli-floor-info-right{
  width: 787px;
  background-color: #fff;
  border-right: solid #efefef;
  border-width: 1px 0 0 1px;
  float: left;
}

.fuli-floor-wares{
  width: 25%;
  height: 241px;
  border: solid #efefef;
  border-width: 0 1px 1px 0;
  float: left;
  box-sizing: border-box;
}

#fullSlide{
  display: none;
}

#adsense{
  display: none;
}

.adsense-slide{
  width: 747px;
  height: 600px;
  float: left;
}

.adsense-planting{
  width: 100%;
  height: 389px;
  background-color: #999;
}

.adsense-advert{
  width: 100%;
  height: 192px;
  margin-top: 19px;
}

.adsense-advert-left{
  width: 49%;
  height: 192px;
  background-color: #c81623;
  margin-right: 14px;
  float: left;
}

.adsense-advert-right{
  width: 49%;
  height: 192px;
  background-color: aqua;
  float: left;
}

.adsense-core-item{
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #ddd;
}

.adsense-core-item:last-child{
  border: none;
}

#personal{
  display: none;
}

.personal-menu,
.adsense-menu{
  width: 204px;
  height: 600px;
  background-color: #fff;
  box-shadow: 0 3px 3px 3px rgba(231,231,231,.5);
  margin-right: 22px;
  float: left;
  position: relative;
}

.adsense-menu ul li,
.personal-menu ul li{
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 2px;
}

.adsense-list-select{
  width: 1000px;
  height: 600px;
  background: #fff;
  position: absolute;
  left: 205px;
  top: 0;
  display: none;
  z-index: 1000;
}

.adsense-menu ul li a,
.personal-menu ul li a{
  color: #626262;
}

.adsense-hover{
  background-color: #ffe6cf;
}

.adsense-a-hover{
  color: #e98930 !important;
}

.personal-slide{
  width: 747px;
  height: 600px;
  float: left;
}

.personal-core,
.adsense-core{
  width: 204px;
  height: 600px;
  background-color: #fff;
  margin-left: 22px;
  float: left;
}

.personal-core-head{
  width: 100%;
  height: 122px;
  padding-top: 37px;
  box-sizing: border-box;
}

.personal-core-head p{
  line-height: 24px;
  color: #999;
  font-size: 14px;
  text-align: center;
}

.fuli-user-login{
  width: 160px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  background-color: #f1a35b;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
}

.fuli-tenants-login{
  width: 160px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #e98930;
  background-color: #ffe4cb;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #e98930;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
}

.personal-service-word{
  padding-left: 10px;
  box-sizing: border-box;
}

.personal-service{
  width: 100%;
  height: 47px;
  margin-top: 31px;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.personal-service-tit{
  line-height: 24px;
  color: #4a4a4a;
  font-size: 14px;
}

.personal-service-text{
  line-height: 24px;
  color: #999;
  font-size: 12px;
}

.sponsor{
  height: 338px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 3px 3px rgba(231,231,231,.5);
  margin-top: 30px;
  padding: 36px 0;
  box-sizing: border-box;
}

.sponsor-s{
  margin-left: 16px;
}

.sponsor-item{
  width: 284px;
  height: 140px;
  border: 1px solid #efefef;
  /* border-width: 0 1px 1px 0; */
  box-sizing: border-box;
  margin-right: 10px;
  float: left;
}

.sponsor-item img{
  width: 100%;
}

.sponsor-item:last-child{
  margin-right: 0;
}

.sponsor-small{
  margin-left: 8px;
  margin-top: 16px;
}

.sponsor-small-item{
  width: 169px;
  height: 107px;
  border: solid #f7f7f7;
  border-width: 1px 1px 1px 0;
  float: left;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-small-item:last-child{
  border-right: 0;
}

.fuli-box{
  height: 451px;
  margin-top: 19px;
}

.fuli-box-item{
  width: 33%;
  height: 451px;
  background-color: #fff;
  margin-right: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 3px 3px rgba(231,231,231,.5);
  float: left;
  box-sizing: border-box;
}

.fuli-box-item-2{
  width: 33%;
  height: 451px;
  background-color: #fff;
  margin-right: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 3px 3px rgba(231,231,231,.5);
  float: left;
  box-sizing: border-box;
}

.fuli-box-item-3{
  width: 33%;
  height: 451px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 3px 3px rgba(231,231,231,.5);
  float: left;
  box-sizing: border-box;
}

.fuli-box-head{
  height: 60px;
  padding: 0 18px;
  font-size: 0;
  line-height: 0;
}

.fuli-tactic-cover{
  width: 365px;
  height: 370px;
  margin: 0 auto;
  box-sizing: border-box;
}

.fuli-tactic-lk{
  display: block;
}

.tactic-lk-img{
  width: 100%;
  height: 100%;
}

.fuli-box-hk{
  display: inline-block;
  position: relative;
  height: 40px;
  margin: 8px 0 0 0;
}

.fuli-box-tit{
  float: left;
  font-weight: normal;
  font-size: 22px;
  color: #222;
  line-height: 44px;
}

.fuli-box-arrow{
  background-position: 0 0;
  float: left;
  position: relative;
  width: 23px;
  height: 23px;
  top: 12px;
  left: 4px;
  background-image: url('../images/static/arrow.png')
}

.fuli-box-subtit{
  float: left;
  font-size: 14px;
  color: #999;
  height: 22px;
  line-height: 22px;
  margin: 12px 0 0 10px;
}

.fuli-sort-wrapper{
  /* margin: 0 0 0 20px; */
}

.fuli-sort-wrapper-2{
  margin: 0 0 0 10px;
}

.fuli-sort-large{
  display: block;
  width: 100%;
  height: 196px;
  border-bottom: 1px solid #ddd;
}

.fuli-sort-large-2{
  width: 374px;
  height: 195px;
  display: block;
  border-bottom: 1px solid #d6dfe4;
}

.fuli-sort-large-2:last-child{
  border-bottom: none;
}

.fuli-sort-img{
  width: 100%;
  height: 100%;
  transition: opacity ease 0.2s;
}

.fuli-sort-k{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-sort-m{
  margin-left: 30px;
}

.fuli-sort-img:hover{
  opacity: 0.8;
}

.fuli-sort-img2{
  width: 100%;
  height: 100%;
  transition: opacity ease 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-sort-img2:hover{
  opacity: 0.8;
}

.fuli-sort-middle{
  float: left;
  display: block;
  width: 193px;
  height: 192px;
  border-right: 1px solid #ddd;
}

.fuli-sort-middle:last-child{
  border-right: none;
}

.fuli-new-floor{
  width: 100%;
  height: 810px;
  background-color: #fff;
  margin-top: 37px;
}

.fuli-new-wrapper{
  width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
  box-sizing: border-box;
}

.fuli-brain{
  width: 100%;
  height: 90px;
  position: relative;
}

.fuli-vertical{
  width: 10px;
  height: 32px;
  background-color: #b29e77;
  position: absolute;
  top: 32%;
  float: left;
}

.fuli-box-tit2{
  float: left;
  font-weight: normal;
  font-size: 22px;
  color: #222;
  line-height: 90px;
  margin-left: 20px;
}

.fuli-floor-list{
  width: 240px;
  line-height: 90px;
  float: right;
}

.fuli-floor-list li{
  width: 60px;
  text-align: right;
  float: left;
}

.fuli-floor-list li a{
  color: #333;
  font-size: 16px;
}

.fuli-floor-image{
  width: 233px;
  height: 644px;
  float: left;
  background: #222;
}

.fuli-floor-pictures{
  width: 100%;
  height: 100%;
}

.fuli-floor-goods{
  width: 783px;
  height: 644px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
  margin: 0 5px;
  padding: 20px 0 0 20px;
  box-sizing: border-box;
  float: left;
}

.floor-goods-wrapper{
  width: 100%;
}

.floor-goods-item{
  width: 32%;
  height: 299px;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
}

.floor-goods-item:nth-of-type(-n+3){
  margin-top: 0;
}

.floor-goods-item:nth-of-type(3n){
  margin-right: 0;
}

.floor-goods-large{
  width: 236px;
  height: 241px;
  background-color: #f4f4f4;
  display: block;
}

.floor-goods-image{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floor-goods-name{
  width: 236px;
  line-height: 27px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.floor-goods-name a{
  color: #333;
}

.floor-goods-price{
  width: 236px;
  line-height: 23px;
  color: #f32d2d;
  font-size: 14px;
  text-align: center;
}

.fuli-floor-brand{
  width: 168px;
  height: 644px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
  box-sizing: border-box;
  float: left;
}

.floor-brand-head{
  height: 76px;
  padding: 0 11px;
  text-align: center;
  line-height: 76px;
  font-size: 18px;
  color: #666;
}

.floor-brand-wrapper{
  margin: 0 0 0 11px;
}

.floor-brand-item{
  width: 147px;
  height: 67px;
  border: 1px solid #ededed;
  box-sizing: border-box;
  margin-bottom: 27px;
  display: block;
}

.floor-brand-img{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  transition: all 0.5s;
  -moz-transition: all 0.5s;	/* Firefox 4 */
  -webkit-transition: all 0.5s;	/* Safari 和 Chrome */
  -o-transition: all 0.5s;	/* Opera */;
}

.fuli-new-floor-2{
  width: 100%;
  height: 810px;
  background-color: #fffcf4;
}

.fuli-new-floor-3{
  width: 100%;
  height: 810px;
  background-color: #fffbfa;
}

.fuli-clearance{
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #f4f4f4;
  background-color: #fff;
}