@charset "utf-8";

.header{
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}

.home{
  height: 36px;
  /* line-height: 36px; */
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center
}

.home img {
  margin-right: 4px;
}  

.fuli-nav {
  float: right;
}

.fuli-nav li {
  /* width: 96px; */
  height: 36px;
  float: left;
  line-height: 36px;
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-right: 20px
}

.fuli-nav li:last-child{
  margin-right: 0;
}

.fuli-nav li a {
  color: #666;
  white-space:nowrap;
}

.fuli-nav > li > a:hover,
.fuli-nav > li > a:focus {
  color: #ff3f40
}

.footerpage{
  width: 100%;
  background-color: #fff;
}

.fuli-footer{
  height: 194px;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
}

.fuli-footer-help{
  height: 236px;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 24px;
}

.fuli-footer-service{
  width: 25%;
  height: 194px;
  float: left;
}

.footer-service-unit{
  position: relative;
  margin: 0 auto;
  width: 215px;
  top: 30%;
}

.footer-service-img{
  float: left;
}

.footer-service-word{
  float: left;
  padding-left: 17px;
  box-sizing: border-box;
}

.footer-service-tit{
  line-height: 32px;
  margin-top: 4px;
}

.footer-service-text{
  line-height: 30px;
  font-size: 14px;
  color: #a9a9a9;
}

.footer-help-list{
  width: 14.28%;
  float: left;
}

.help-list-tit{
  margin-bottom: 5px;
  font-size: 16px;
  color: #3c363c;
}

.help-list-nav li{
  line-height: 28px;
}

.help-list-nav li a{
  color: #747774;
  font-size: 12px;
}

.help-list-nav > li > a:hover,
.help-list-nav > li > a:focus {
  color: #e98930;
}

.footer-help-public{
  width: 134px;
  height: 158px;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.footer-help-code{
  width: 134px;
  height: 132px;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
}

.footer-help-word{
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  color: #9c9e9c;
}

.fuli-copyright-auth{
  margin: 10px 0;
}

.fuli-copyright-cont{
  width: 928px;
  height: 47px;
  margin: 0 auto;
}

.fuli-copyright-icon{
  width: 124px;
  height: 47px;
  border: 1px solid #ededed;
  margin-right: 7px;
  float: left;
}

.fuli-copyright-icon:last-child{
  margin-right: 0;
}

.fuli-copyright-icon-1{
  background-repeat: no-repeat;
  /* background-position: ; */
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-2{
  background-repeat: no-repeat;
  background-position: 0 -43px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-3{
  background-repeat: no-repeat;
  background-position: 0 -88px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-4{
  background-repeat: no-repeat;
  background-position: 0 -133px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-5{
  background-repeat: no-repeat;
  background-position: 0 -178px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-6{
  background-repeat: no-repeat;
  background-position: 0 -223px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-7{
  background-repeat: no-repeat;
  background-position: 0 -269px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-info{
  text-align: center;
  line-height: 26px;
}

.fuli-copyright-links{
  font-size: 12px;
  color: #989898;
}

.fuli-copyright-split{
  margin: 0 5px;
  color: #989898;
}

.fuli-copyright-links:hover,
.fuli-copyright-links:focus {
  color: #ff3f40
}

.fuli-copyright-cert{
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  color: #989898;
  margin-bottom: 130px;
}

.footer-bg{
  width: 100%;
  background-color: #fff;
}