@charset "utf-8";

.header{
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}

.home{
  width: 58px;
  height: 36px;
  /* line-height: 36px; */
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  position: relative;
}

.cover{
  width: 58px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -1px;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  z-index: 7;
  display: none;
}

.home-city{
  position: absolute;
  top: 34px;
  left: -1px;
  width: 314px;
  height: 233px;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  z-index: 6;
  box-sizing: border-box;
  display: none;
}

.city-select-content {
  width: 100%;
  min-height: 10px;
  background-color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
}

.city-select{
  font-size: 12px;
  color: #c5c5c5;
}

.city-select dl{
  line-height: 2;
  clear: both;
  padding: 3px 0;
  margin: 0;
  border-bottom: 1px dotted #ededed;
}

.city-select a{
  display: inline-block;
  padding: 2px 13px;
  outline: 0;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 2px;
  text-decoration: none;
  cursor: pointer;
}

.city-select a:hover{
  background-color: #fe4600;
  color: #fff;
}

.login-color{
  color: #ff4701 !important;
}

.home img {
  margin-right: 4px;
}  

.fuli-nav {
  float: right;
}

.fuli-nav li {
  width: 96px;
  height: 36px;
  float: left;
  line-height: 36px;
  text-align: center;
  font-size: 12px;
  color: #666;
}

.myOrder{
  border-color: #f5f5f5;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  box-sizing: border-box;
  position: relative;
}

.myOrder2{
  border-color: #f5f5f5;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  box-sizing: border-box;
  position: relative;
}

.myOrder-item{
  position: absolute;
  left: -1px;
  top: 35px;
  width: 96px;
  background-color: #fff;
  z-index: 6;
  border-color: #d1d1d1;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  box-sizing: border-box;
  display: none;
}

.myOrder-item ul li{
  line-height: 26px;
  color: #666;
  font-size: 12px;
}

.myOrder-item ul li a:hover{
  color: #ff5824 !important;
}

.App{
  position: relative;
}

.triangle_border_up{
  width:0;
  height:0;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:transparent transparent #d5d5d5;/*透明 透明  灰*/
  position:relative;
  top: -4px;
  right: -175px;
}
.triangle_border_up span{
  display:block;
  width:0;
  height:0;
  border-width:0 3px 3px;
  border-style:solid;
  border-color:transparent transparent #fff;/*透明 透明  黄*/
  position:absolute;
  top: 1px;
  left: -3px;
}

.App-item{
  width: 194px;
  border-top: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  border-bottom: 2px solid #e98932;
  background-color: #fff;
  box-sizing: border-box;
  position: absolute;
  right: 35px;
  z-index: 6;
  display: none;
}

.iphone{
  width: 100%;
  height: 93px;
  border-bottom: 1px solid #d1d1d1;
  padding: 0 10px; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.andriod{
  width: 100%;
  height: 93px;
  border-bottom: 1px solid #d1d1d1;
  padding: 0 10px; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.fuli-public{
  width: 100%;
  height: 93px;
  padding: 0 10px; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.iphone-code{
  width: 60px;
  height: 60px;
  border: 1px solid #d1d1d1;
  padding: 3px;
  box-sizing: border-box;
}

.iphone-logo{
  width: 100%;
  line-height: 24px;
  font-size: 12px;
  color: #fe4600;
}

.iphone-logo p:last-child{
  color: #484848;
}

.fuli-nav li:last-child{
  margin-right: 0;
}

.fuli-nav li a {
  color: #666;
  white-space:nowrap;
}

.fuli-nav > li > a:hover,
.fuli-nav > li > a:focus {
  color: #ff4701;
}

.footerpage{
  width: 100%;
  background-color: #fff;
}

.fuli-footer{
  height: 194px;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
}

.fuli-footer-help{
  height: 236px;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 24px;
}

.fuli-footer-service{
  width: 25%;
  height: 194px;
  float: left;
}

.footer-service-unit{
  position: relative;
  margin: 0 auto;
  width: 215px;
  top: 30%;
}

.footer-service-img{
  float: left;
}

.footer-service-word{
  float: left;
  padding-left: 17px;
  box-sizing: border-box;
}

.footer-service-tit{
  line-height: 32px;
  margin-top: 4px;
}

.footer-service-text{
  line-height: 30px;
  font-size: 14px;
  color: #a9a9a9;
}

.footer-help-list{
  width: 14.28%;
  float: left;
}

.help-list-tit{
  margin-bottom: 5px;
  font-size: 16px;
  color: #3c363c;
}

.help-list-nav li{
  line-height: 28px;
}

.help-list-nav li a{
  color: #747774;
  font-size: 12px;
}

.help-list-nav > li > a:hover,
.help-list-nav > li > a:focus {
  color: #e98930;
}

.footer-help-public{
  width: 134px;
  height: 158px;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.footer-help-code{
  width: 134px;
  height: 132px;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
}

.footer-help-word{
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  color: #9c9e9c;
}

.fuli-copyright-auth{
  margin: 10px 0;
}

.fuli-copyright-cont{
  width: 928px;
  height: 47px;
  margin: 0 auto;
}

.fuli-copyright-icon{
  width: 124px;
  height: 47px;
  border: 1px solid #ededed;
  margin-right: 7px;
  float: left;
}

.fuli-copyright-icon:last-child{
  margin-right: 0;
}

.fuli-copyright-icon-1{
  background-repeat: no-repeat;
  /* background-position: ; */
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-2{
  background-repeat: no-repeat;
  background-position: 0 -43px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-3{
  background-repeat: no-repeat;
  background-position: 0 -88px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-4{
  background-repeat: no-repeat;
  background-position: 0 -133px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-5{
  background-repeat: no-repeat;
  background-position: 0 -178px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-6{
  background-repeat: no-repeat;
  background-position: 0 -223px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-icon-7{
  background-repeat: no-repeat;
  background-position: 0 -269px;
  background-image: url(../../images/static/bigimg.png)
}

.fuli-copyright-info{
  text-align: center;
  line-height: 26px;
}

.fuli-copyright-links{
  font-size: 12px;
  color: #989898;
}

.fuli-copyright-split{
  margin: 0 5px;
  color: #989898;
}

.fuli-copyright-links:hover,
.fuli-copyright-links:focus {
  color: #ff3f40
}

.fuli-copyright-cert{
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  color: #989898;
  margin-bottom: 130px;
}

.footer-bg{
  width: 100%;
  background-color: #fff;
}