@charset "UTF-8";

.fuli-wrapper{
  margin-bottom: 50px;
}

.menu{
  width: 200px;
  height: 980px;
  background-color: #fff;
  float: left;
}

.list_dt{
  background: #fff;
  color: #333;
  width: 200px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.list_dt:hover{
  background: #ffe6cf;
  color: #e98930;
}

.list_dt:hover ._after{
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #e98930;
}

#open{
  background: #ffe6cf;
  color: #e98930;
}

#open ._after{
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #e98930;
}

.list_dt_icon{
  position: absolute;
  right: 30px;
  top: 21px;
  display: block;
  width: 10px;
  height: 6px;
  background: url("../../images/static/open.png") no-repeat;
  background-size: cover;
}

.list_dt_icon2{
  position: absolute;
  left: 40px;
  top: 15px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../images/static/order.png") no-repeat;
  background-size: cover;
}

#open .list_dt_icon{
  background: url("../../images/static/open.png") no-repeat;
  background-size: cover;
}

.list_dd{
  /* display: none; */
}

.list_li{
  background: #fff;
  list-style-type: none;
  color: #333;
  width: 200px;
  padding: 0 30px;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.list_li:hover{
  background: #ffe6cf;
  color: #e98930;
}

.list_li_active{
  background: #ffe6cf;
  color: #e98930;
}

.personal{
  margin-top: 21px;
}

.fuli-personal-wrapper{
  width: 980px;
  background-color: #fff;
  margin-left: 19px;
  padding: 27px 20px;
  float: left;
}

.fuli-personal-wrapper2{
  width: 980px;
  background-color: #fff;
  margin-left: 19px;
  float: left;
}

.introduce-tab2{
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #d9d9d9;
}

.tab2{
  float: left;
}

.tab2 li {
	float: left;
	width: 100px;
	height: 35px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ob2{
  display: none;
}

.on2 {
	display: block;
}

.ob3{
  display: none;
}

.on3 {
	display: block;
}

.tab2 li.cur2 {
  border-bottom: 2px solid #ff3d3e;
}

.tab-color{
  font-size: 14px;
  color: #ff4600;
}

.fuli-search-order{
  width: 240px;
  height: 30px;
  border: 1px solid #eee;
  box-sizing: border-box;
  float: right;
}


.fuli-search-input{
  width: 188px;
  height: 30px;
  float: left;
}

.int{
  width: 240px;
  height: 28px;
  outline: none;
  border: none;
  padding-left: 5px;
}

.fuli-search-orders{
  width: 50px;
  height: 28px;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #333;
  float: left;
}

.fuli-order-head{
  width: 100%;
  height: 36px;
  background-color: #f7f7f7;
  margin-top: 24px;
}

.fuli-order-left{
  width: 160px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #666;
  position: relative;
  float: left;
}

.fuli-order-left>.fuli-order-arrow{
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  margin-top: -3px;
  height: 5px;
  background: url(../../images/static/drop-arrow.png) no-repeat -10px -10px;
}

.fuli-hover-order-arrow{
  background: url(../../images/static/drop-arrow.png) no-repeat -10px -25px !important;
}

.fuli-order-bg{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(213,203,203,.5);
}

.fuli-order-left-item{
  width: 160px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 10px 10px rgba(213,203,203,.5);
  padding-top: 15px;
  box-sizing: border-box;
  display: none;
}

.fuli-order-left-item ul li{
  line-height: 18px;
  color: #666;
  font-size: 12px;
  margin-bottom: 15px;
}

.fuli-order-left-item ul li:hover{
  background-color: #eee;
  color: #ff4600
}

.fuli-order-right{
  width: 530px;
  height: 36px;
  float: right;
}

.fuli-order-list{

}

.fuli-order-list li{
  float: left;
  width: 120px;
  line-height: 36px;
  color: #666;
  font-size: 14px;
  text-align: center;
  position: relative;
}

.fuli-order-list-arrow{
  position: absolute;
  top: 50%;
  right: 5px;
  width: 10px;
  margin-top: -3px;
  height: 5px;
  background: url(../../images/static/drop-arrow.png) no-repeat -10px -10px;
}

.fuli-order-left-item2{
  width: 120px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 10px 10px rgba(213,203,203,.5);
  padding-top: 15px;
  box-sizing: border-box;
  display: none;
}

.fuli-order-left-item2 ul li{
  line-height: 18px;
  color: #666;
  font-size: 12px;
  margin-bottom: 15px;
}

.fuli-order-left-item2 ul li:hover{
  background-color: #eee;
  color: #ff4600
}

.fuli-order-info{
  border: 1px solid #eee;
  box-sizing: border-box;
  margin-top: 20px;
}

.order-info-heade{
  height: 42px;
  line-height: 42px;
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.order-info-left{
  width: 210px;
  font-size: 12px;
  color: #999;
  text-align: center;
  float: left;
}

.order-time{
  width: 180px;
  font-size: 12px;
  color: #999;
  text-align: center;
  float: left;
}

.order-info-content{
  height: 120px;
}

.order-info-content2{
  /* height: 240px; */
}

.order-goods-info{
  width: 525px;
  height: 120px;
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
}

.order-goods-img{
  width: 83px;
  height: 83px;
}

.order-goods-img img{
  width: 100%;
}

.order-goods-words{
  width: 228px;
  line-height: 22px;
  font-size: 12px;
  margin-left: 10px;
}

.order-goods-words a{
  color: #333;
}

.order-goods-words a:hover{
  color: #e98930;
}

.order-goods-price{
  width: 60px;
  text-align: center;
}

.order-goods-del{
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

.order-goods-present{
  font-size: 14px;
  color: #333;
}

.order-goods-number{
  width: 100px;
  font-size: 12px;
  color: #333;
  text-align: right
}

.order-goodsPrice{
  width: 141px;
  height: 120px;
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}

.order-goods-all{
  width: 525px;
  height: 240px;
  float: left;
}

.order-goodsPrice2{
  width: 141px;
  height: 240px;
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}

.order-goodsPrice-top{
  font-size: 16px;
  /* line-height: 22px; */
  color: #333;
}

.order-goodsPrice-bottom{
  font-size: 12px;
  /* line-height: 22px; */
  color: #999;
}

.order-goods-status{
  width: 120px;
  height: 120px;
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  color: #333;
  float: left;
}

.order-goods-status span a{
  color: #333;
}

.order-goods-status span a:hover{
  text-decoration: underline;
}

.order-goods-status2{
  width: 120px;
  height: 240px;
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  float: left;
}

.order-goods-status2 span a{
  color: #333;
}

.order-goods-status2 span a:hover{
  text-decoration: underline;
}

.status-color{
  color: #ff4040;
}

.order-goods-setting{
  width: 152px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}

.order-goods-setting p{
  width: 90px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

.order-goods-setting2{
  width: 154px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}

.order-goods-setting2 p{
  width: 90px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

.order-goodsPrice-one{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-goodsPrice-one{
  border-bottom: 1px solid #eee;
}

.order-goods-info{
  border-bottom: 1px solid #eee;
}

.order-operate{
  width: 92px;
  height: 27px;
  background-color: #ff4600;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 27px;
  margin: 10px 0;
}

.order-operate:hover{
  opacity: 0.9;
}

.order-cancel{
  font-size: 14px;
  color: #666;
}

.order-cancel a{
  color: #666;
}

.order-cancel a:hover{
  text-decoration: underline;
}

.status-color2{
  color: #699eff;
}

.operate-color{
  background-color: #699eff;
}

.order-assess{
  width: 92px;
  height: 27px;
  line-height: 27px;
  border: 1px solid #eee;
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.order-assess:hover{
  color: #e98930;
  border-color: #e98930;
}

.fuli-personal-home-head{
  width: 100%;
  height: 207px;
  display: flex;
}

.fuli-personal-home-head-left{
  width: 332px;
  height: 207px;
  background: url(../../images/static/person_home_bg_03.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
}

.fuli-personal-home-head-avatr-cont{
  width: 138px;
  height: 207px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fuli-personal-home-head-avatr{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.5);
}

.fuli-personal-home-head-userInfo{
  width: 193px;
  height: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding-left: 30px;
  box-sizing: border-box;
}

.fuli-personal-home-head-userInfo-name{
  width: 100%;
  line-height: 38px;
  font-size: 18px;
  font-weight: bold;
  /* text-align: center; */
}

.fuli-personal-home-head-userInfo-vip{
  width: 100%;
  line-height: 30px;
  font-size: 12px;
  /* text-align: center; */
}

.userInfo-vip{
  display: inline-block;
  width: 46px;
  height: 20px;
  color: #fff;
  background-color: #fab942;
  text-align: center;
  line-height: 20px;
}

.fuli-personal-home-head-userInfo-vip2{
  width: 100%;
  line-height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.fuli-personal-home-head-anquan{
  width: 68px;
  height: 12px;
  color: #fff;
  display: flex;
}

.fuli-personal-home-head-anquan-bg{
  width: 36px;
  height: 12px;
  background-color: #5ba6db;
}

.fuli-personal-home-head-anquan-word{
  width: 32px;
  height: 12px;
  background-color: #f8cfa9;
  text-align: center;
  line-height: 12px;
}

.fuli-personal-home-head-right{
  width: 650px;
  height: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #eee;
  box-sizing: border-box;
}

.fuli-personal-home-head-right-item{
  width: 25%;
}

.fuli-personal-home-head-right-item-number{
  width: 100%;
  height: 49px;
  font-size: 24px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-personal-home-head-right-item-word{
  width: 100%;
  height: 49px;
  font-size: 14px;
  color: #666;
  text-align: center;
  line-height: 49px;
}

.fuli-peronal-home-tit-wrapper{
  width: 100%;
  height: 38px;
  padding: 0 10px;
  box-sizing: border-box;
}

.fuli-peronal-home-tit{
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.fuli-peronal-home-tit-ver{
  width: 5px;
  height: 18px;
  background-color: #e98930;
}

.fuli-peronal-home-tit-word{
  font-size: 14px;
  color: #333;
  margin-left: 10px;
}

.fuli-peronal-home-tit-word2{
  font-size: 14px;
  color: #333;
  margin-left: 10px;
  margin-right: 20px;
  line-height: 36px;
  height: 36px;
}

.fuli-peronal-home-tit-word3{
  font-size: 14px;
  color: #333;
  margin-left: 10px;
  margin-right: 20px;
  line-height: 36px;
  height: 36px;
}

.fuli-peronal-home-tab-title{
  width: 100%;
  height: 108px;
  padding: 0 35px;
  box-sizing: border-box;
}

.fuli-peronal-home-tabs{
  width: 100%;
  height: 108px;
  border-bottom: 1px solid #eee;
  display: flex;
}

.cur5{
  color: #e98930 !important;
  border-bottom: 3px solid #e98930;
}

.cur6{
  color: #e98930 !important;
  border-bottom: 3px solid #e98930;
}

.fuli-peronal-home-tabs-item{
  width: 16.6%;
  height: 108px;
}

.fuli-peronal-home-tabs-item-img{
  width: 100%;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fuli-peronal-home-tabs-item-number{
  width: 22px;
  height: 22px;
  background-color: #ff4600;
  color: #fff;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 40px;
}

.fuli-peronal-home-tabs-item-words{
  width: 100%;
  line-height: 36px;
  color: #333;
  font-size: 14px;
  text-align: center;
}

.warpper{
  padding: 0 20px;
  box-sizing: border-box;
}

.fuli-two-wrapper{
  width: 100%;
  height: 36px;
}

.fuli-two-wrapper2{
  width: 100%;
  height: 36px;
  display: flex;
}

.fuli-two-wrapper3{
  width: 100%;
  height: 36px;
  display: flex;
}

.fuli-two-wrapper-left{
  width: 100%;
}

.content-bg{
  width: 50%;
  background-color: #fff;
  padding: 0 22px;
  box-sizing: border-box;
  float: left;
}

.content-bg2{
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  float: left;
}

.tab-float{
  float: left;
  width: 50%;
  padding: 0 22px;
  box-sizing: border-box;
}

.contant{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-peronal-home-tit-word2-content{
  width: 100%;
  height: 285px;
}

.fuli-peronal-home-tit-word2-content-item{
  width: 33%;
  height: 195px;
}

.fuli-peronal-home-tit-word2-content-item-img{
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-p{
  width: 100%;
  height: 38px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.fuli-p-price{
  width: 100%;
  line-height: 30px;
  color: #ff4600;
  font-size: 14px;
  text-align: center;
}

.fuli-peronal-home-tit-word2-content2{
  width: 50%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-btn{
  width: 123px;
  height: 38px;
  border: 1px solid #eee;
  box-sizing: border-box;
  color: #999999;
  font-size: 14px;
  text-align: center;
  line-height: 38px;
  margin: 0 auto;
}

.fuli-nav2{
  width: 100%;
  height: 37px;
  line-height: 37px;
}

.fuli-nav2 li{
  float: left;
  width: 120px;
  text-align: center;
}

.fuli-nav2 li a{
  color: #333;
  font-size: 14px;
}

.fuli-nav2 li a:hover{
  color: #e98930;
}

.tiao{
  width: 100%;
  z-index: 1000;
}

.remedy{
  width: 100%;
  height: 157px;
  display: none;
}

.account{
  position: relative;
}

.message{
  position: relative;
}

.account-select{
  width: 109px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-shadow: #ebebeb -1px 1px 12px -3px;
  box-sizing: border-box;
  position: absolute;
  top: 34px;
  display: none;
}

.account-select ul{
  width: 109px;
  padding-top: 5px;
  box-sizing: border-box;
}

.account-select li{
  width: 109px;
  line-height: 25px;
  font-size: 12px;
}

.account-select li a{
  color: #666;
}

.account-select li a:hover{
  color: #e98930;
}

.triangle_border_up2{
  width:0;
  height:0;
  border-width:0 6px 6px;
  border-style:solid;
  border-color:transparent transparent #d5d5d5;/*透明 透明  灰*/
  position:relative;
  top: -9px;
  right: -50px;
  display: none;
}

.triangle_border_up2 span{
  display:block;
  width:0;
  height:0;
  border-width:0 5px 5px;
  border-style:solid;
  border-color:transparent transparent #fff;/*透明 透明  黄*/
  position:absolute;
  top: 1px;
  left: -5px;
}